/.local
/coverage
/dist
/node_modules
/profiling
/crates/database/profiling
/crates/website/profiling
/crates/workspace-hack/profiling
/reports
/target

# samply output
/profile.json

.env
tsconfig.tsbuildinfo
